@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @* <title>@ViewData["Title"] - Technico Web App</title> *@
    <meta name="description" content="Your description here">
    <meta name="keywords" content="Your keywords here">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900&display=swap" rel="stylesheet">

    <link href="~/css/main.css" rel="stylesheet">
</head>

<body class="h-full">
    <div id="root" class="h-full">
        <div class="relative white">
            <div class="relative">
                <div class="max-auto max">
                    <div class="image-technico flex justify-center relative h-32 md:h-60 md justify-start">
                        <img src="/assets/img/technico.png">
                    </div>
                    <div class="center-text-contain">
                        <p>
                            Our team at Technico is here to support you with a wide range of services in and around the London area.
                            <br/>
                            From fixing leaky faucets to setting up electrical systems, assembling furniture, or tiling your bathroom,
                            Technico makes it easy to get quality assistance from trusted professionals. Whatever your project, big or
                            small, you can count on us to get it done right.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TechnicoRMP.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
