@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @* <title>@ViewData["Title"] - Technico Web App</title> *@
    <meta name="description" content="Your description here">
    <meta name="keywords" content="Your keywords here">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900&display=swap" rel="stylesheet">

    <link href="~/css/main.css" rel="stylesheet">
</head>

<body class="h-full">
    <div id="root" class="h-full">
        <div class="relative white">
            <div class="relative">
                <div class="max-auto max">
                    <div class="image-technico flex justify-center relative h-32 md:h-60 md justify-start">
                        <img src="/assets/img/technico.png">
                    </div>
                    <div class="center-text-contain">
                        <p>
                            Our team at Technico is here to support you with a wide range of services in and around the London area.
                            <br/>
                            From fixing leaky faucets to setting up electrical systems, assembling furniture, or tiling your bathroom,
                            Technico makes it easy to get quality assistance from trusted professionals. Whatever your project, big or
                            small, you can count on us to get it done right.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="divimages">
                    <h2>Painting</h2>
                    <p>
                        From a fresh coat to a complete color overhaul, our painting experts deliver high-quality 
                        results with attention to detail and a commitment to excellence. Whether it’s reviving 
                        walls, ceilings, or woodwork, we use premium paints and professional techniques to enhance 
                        the look and longevity of every surface. Our team ensures a smooth, precise finish that 
                        breathes new life into any space,indoors or out.
                    </p>
                    <div class="imagecenter flex relative">
                        <img src="/assets/img/painting.jpg" alt="Painting services">
                    </div>
                </div>
                <div class="divimages">
                    <h2>Insulation</h2>
                    <p>
                        Whether it’s insulating walls, sealing floors, or protecting your roof,
                        our insulation specialists will ensure a high-quality finish that boosts energy
                        efficiency and comfort in your space. Our team is dedicated to providing reliable
                        insulation solutions that keep your property well-protected and energy-efficient year-round.
                        Trust us to keep your property powered safely and reliably.
                    </p>
                    <div class="imagecenter flex relative">
                        <img src="/assets/img/insulation.jpg" alt="Insulation services">
                    </div>
                </div>
                <div class="divimages">
                    <h2>Frame</h2>
                    <p>
                        Our framing experts provide solid structural solutions that form the backbone of any construction project.
                        From load-bearing walls to custom partitions, we bring precision and quality to each frame, ensuring safety
                        and durability for years to come. Our team uses high-grade materials and advanced techniques to meet every
                        project’s unique specifications, creating a reliable framework that supports and enhances your space.
                    </p>
                    <div class="imagecenter flex relative">
                        <img src="/assets/img/frame.jpg" alt="Frame services">
                    </div>
                </div>
                <div class="divimages">
                    <h2>Plumbing</h2>
                    <p>
                        Our skilled plumbing team offers comprehensive solutions for 
                        all your water and drainage needs. From fixing leaks and 
                        installing new pipes to managing complex drainage systems, 
                        we handle every aspect of plumbing with precision and care. 
                        Using high-quality materials and the latest techniques, we 
                        ensure that your plumbing system is efficient, reliable, and 
                        built to last. Count on us to keep your home or business 
                        free from plumbing issues.
                    </p>
                    <div class="imagecenter flex relative">
                        <img src="/assets/img/plumbing.jpg" alt="Plumbing services">
                    </div>
                </div>
                <div class="divimages">
                    <h2>Electrical Work</h2>
                    <p>
                        Our certified electricians provide a full range of electrical services, 
                        from installing new wiring and outlets to upgrading panels.
                        Whether you’re renovating, upgrading for energy efficiency, or addressing an urgent 
                        repair, we’re here to ensure safe, efficient solutions. With a focus on quality workmanship 
                        and compliance with the highest safety standards, our team brings precision and expertise 
                        to every electrical work. 
                    </p>
                    <div class="imagecenter flex relative">
                        <img src="/assets/img/electrics.jpg" alt="Electrical Work services">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TechnicoRMP.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
