@model TechnicoRMP.WebApp.Models.UserProfileViewModel

@{
    var userId = ViewData["UpdateProfile"];
}

<h1>Edit Profile</h1>

<form asp-action="UpdateProfile" id="updateForm" method="post">
    <input asp-for="Id" type="hidden" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>    
    <button type="submit">Save Changes</button>
</form>
@* 

<script>
    $('#updateForm').on('submit', function(event) {
        event.preventDefault();
        const formData = $(this).serialize();
        
        $.ajax({
            url: '/User/UpdateProfile/' + userId,
            type: 'POST',
            data: formData,
            success: function(response) {
                window.location.href = '/User/GetProfile/' + userId;
            },
            error: function(error) {
                alert('An error occurred while updating.');
            }
        });
    });
</script> *@