/*--------------------------------------------------------------
# Body Section
--------------------------------------------------------------*/

body {
    background-color: #ffffcc; 
    color: #333;
    padding: 20px;
    margin: 0;
}

/*--------------------------------------------------------------
# Logo Section
--------------------------------------------------------------*/

.logo-container img {
    width: 120px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

/*--------------------------------------------------------------
# Main Image Section
--------------------------------------------------------------*/

.image-technico {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 10px;
}

.image-technico img {
    width: 300px;
    max-width: 100%;
    height: auto; 
}

/*--------------------------------------------------------------
# Div Section
--------------------------------------------------------------*/

div {
    display: block;
    unicode-bidi: isolate;
}

.white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.relative {
    position: relative;
}

.max {
    max-width: 80rem;
}

.max-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-full {
    height: 100%;
}


/*--------------------------------------------------------------
# Image Section
--------------------------------------------------------------*/

@media (min-width: 768px) {
    .md\:justify-start {
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .md\:h-60

{
    height: 15rem;
}
}

.justify-center {
    justify-content: center;
}

.h-32 {
    height: 8rem;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

img, video {
    max-width: 100%;
    height: auto;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Paragraph Section
--------------------------------------------------------------*/

.center-text-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-bottom: 20px;
    text-align: center;
    padding: 0 20px;
    height: auto;
    flex-direction: column; 
    margin-top: 20px;
}

.center-text-contain p {
    font-size: 1.2rem;
    max-width: 1000px;
    line-height: 1.6;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .center-text-contain p {
        font-size: 1rem; 
    }
}